<style>
    body {
        background: yellow;
    }

    .movie-details {
        margin-top: 24px;
        padding: 22px;
    }

    .movie {
        display: flex;
        width: 90%;
        padding: 12px;
    }

    #movieImg {
        height: 50vh;
        padding: 12px;
    }

    .header-movie {
        display: flex;
        justify-content: space-between;
    }

    .header-movie a {
        padding: 24px 32px;
        font-family: 'Bebas Neue', cursive;
        font-size: 24px;
        text-decoration: none;
        color: black;
        transition: all 150ms ease;
    }

    .header-movie a:hover {
        color: white;
        background: black;
    }

    .movie-showtimes {
        display: flex;
        padding: 12px;
        font-size: 24px;
        background: yellow;
        flex-direction: column;
        text-align: center;
    }

    .movie-showtimes > div > h2 {
        border-right: 0px solid black;
        transition: all 150ms ease;
        padding: 12px;
    }

    .movie-showtimes > div > h2:hover {
        border-right: 16px solid black;
        cursor: default;
    }

    #showtimes {
        background: black;
        color: white;
        padding: 12px;
        margin: -12px 0;
    }

    .movie-description {
        margin-left: 24px;
    }

    .movie-description h2 {
        font-size: 36px;
        background: black;
        color: white;
        width: fit-content;
        padding: 2px 12px;
    }

    .movie-description p {
        font-size: 18px;
        width: 80%;
    }

    .movie-description--header {
        display: flex;
    }

    .movie-description--header span {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 12px;
        font-size: 24px;
        font-style: italic;
    }
</style>

<div class="header-movie">
    <a id="goBack" href="/movies">< Go Back</a>
    <a id="ironhackCinema" href="/">IRONHACK CINEMA</a>
</div>
<div class="container movie-details">
<div class="movie">
    <img 
        id="movieImg" 
        src="{{movie.image}}" 
        alt="{{movie.title}}"
    />
    <div class="movie-description">
        <div class="movie-description--header">
            <h2>{{movie.title}}</h2>
            <span>Directed by {{movie.director}}</span>
        </div>
        <p>{{movie.description}}</p>
        <div>
            <h2>Stars</h2>
            {{#each movie.stars}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
</div>
<div class="movie-showtimes">
    <h2 id="showtimes">SHOWTIMES</h2>
    <div>
        {{#each movie.showtimes}}
            <h2>{{this}}</h2>
        {{/each}}
    </div>
</div>
</div>