<style>
    .body {
        display: flex;
        flex-direction: column;
    }

    .movies {
        background: black;
        padding: 12px;
        overflow: auto;
    }

    .movie {
        transition: all 250ms ease;
        padding: 12px;
    }

    .movie:hover {
        opacity: .75;
    }

    .movies-desc {
        background: yellow;
        height: 100vh;
    }

    .movies-title {
        margin-top: 12px;
        flex-direction: column;
        padding: 12px;
        width: 50%;
    }

    .movies-title h2 {
        font-size: 42px;
    }

    #image {
        height: 50vh;
        padding: 32px;
    }

    #showtimes {
        position: absolute;
        bottom: 24px;
        right: 24px;
        font-size: 24px;
        padding: 8px 12px;
        text-decoration: none;
        color: black;
        transition: border 250ms ease-in-out;
        border-bottom: 0px solid black;
    }

    #showtimes:hover {
        border-bottom: 64px solid black;
    }

    #ironhackCinema {
        position: absolute;
        bottom: 16px;
        left: 16px;
        font-size: 24px;
        color: black;
        text-decoration: none;
        transition: all 150ms ease-in;
        padding: 8px 12px;
        border-bottom: 0px solid black;
    }

    #ironhackCinema:hover {
        border-bottom: 32px solid black;
    }

    #title {
        background: black;
        color: white;
        width: fit-content;
        padding: 0 12px;
        font-size: 48px;
    }

    #description {
        font-size: 32px;
    }
</style>

<div class="body">
    <div class="container movies">
        {{#each movies}}
            <div 
                class="movie"
                data-id="/movie/{{this._id}}"
                data-image="{{this.image}}"
                data-title="{{this.title}}"
                data-description="{{this.description}}"
            >
                <a href="/movie/{{this._id}}">
                    <img src="{{this.image}}" alt="{{this.title}}" />
                </a>
            </div>
        {{/each}}
    </div>
    <div class="container movies-desc">
        <div class="movies-image">
            <img id="image" />
        </div>
        <div class="movies-title">
            <h2 id="title"></h2>
            <span id="description"></span>
        </div>
        <a id="ironhackCinema" href="/">IRONHACK CINEMA</a>
        <a id="showtimes" href="#"></a>
    </div>
</div>